@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  /* --foreground: #171717; */
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --background: #0a0a0a; */
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Inter, Helvetica, sans-serif;
}

*,
::before,
::after {
  box-sizing: border-box;
  /* 1 */
  border-width: 0;
  /* 2 */
  border-style: solid;
  /* 2 */
  border-color: #e5e7eb;
  /* 2 */
}

::before,
::after {
  --tw-content: "";
}

/*
1. Use a consistent sensible line-height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size.
4. Use the user's configured `sans` font-family by default.
5. Use the user's configured `sans` font-feature-settings by default.
6. Use the user's configured `sans` font-variation-settings by default.
7. Disable tap highlights on iOS
*/

html,
:host {
  line-height: 1.5;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
  tab-size: 4;
  /* 3 */
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  /* 4 */
  font-feature-settings: normal;
  /* 5 */
  font-variation-settings: normal;
  /* 6 */
  -webkit-tap-highlight-color: transparent;
  /* 7 */
}

/*
1. Remove the margin in all browsers.
2. Inherit line-height from `html` so users can set them as a class directly on the `html` element.
*/

body {
  margin: 0;
  /* 1 */
  line-height: inherit;
  /* 2 */
}

/*
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
3. Ensure horizontal rules are visible by default.
*/

hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
  border-top-width: 1px;
  /* 3 */
}

/*
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}

/*
Remove the default font size and weight for headings.
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*
Reset links to optimize for opt-in styling instead of opt-out.
*/

a {
  color: inherit;
  text-decoration: inherit;
}

/*
Add the correct font weight in Edge and Safari.
*/

b,
strong {
  font-weight: bolder;
}

/*
1. Use the user's configured `mono` font-family by default.
2. Use the user's configured `mono` font-feature-settings by default.
3. Use the user's configured `mono` font-variation-settings by default.
4. Correct the odd `em` font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
  /* 1 */
  font-feature-settings: normal;
  /* 2 */
  font-variation-settings: normal;
  /* 3 */
  font-size: 1em;
  /* 4 */
}

/*
Add the correct font size in all browsers.
*/

small {
  font-size: 80%;
}

/*
Prevent `sub` and `sup` elements from affecting the line height in all browsers.
*/

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
3. Remove gaps between table borders by default.
*/

table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
  border-collapse: collapse;
  /* 3 */
}

/*
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
3. Remove default padding in all browsers.
*/

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-feature-settings: inherit;
  /* 1 */
  font-variation-settings: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  font-weight: inherit;
  /* 1 */
  line-height: inherit;
  /* 1 */
  color: inherit;
  /* 1 */
  margin: 0;
  /* 2 */
  padding: 0;
  /* 3 */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@tailwind variants;
/* @layer components {
  p:hover {
    @apply text-white bg-gradient-to-r from-pink-500 via-red-500 to-yellow-500;
  }
} */
.hover-bg-gradient {
  background-image: linear-gradient(to right, #ff7e5f, #feb47b);
}
.bg-light-client {
  background-image: url("/images/home/clients/bg-client-l.svg");
}

.bg-light-globe {
  background-image: url("/images/home/Globe-update.svg");
}
:is(.dark .dark\:block) {
  display: block;
}

:is(.dark .dark\:hidden) {
  display: none;
}

:is(.dark .dark\:divide-white) > :not([hidden]) ~ :not([hidden]) {
  --tw-divide-opacity: 1;
  border-color: rgb(255 255 255 / var(--tw-divide-opacity));
}

:is(.dark .dark\:border-0) {
  border-width: 0px;
}

:is(.dark .dark\:bg-black) {
  --tw-bg-opacity: 1;
  background-color: rgb(0 0 0 / var(--tw-bg-opacity));
}

:is(.dark .dark\:bg-gray-400) {
  --tw-bg-opacity: 1;
  background-color: rgb(156 163 175 / var(--tw-bg-opacity));
}

:is(.dark .dark\:bg-gray-800) {
  --tw-bg-opacity: 1;
  background-color: rgb(31 41 55 / var(--tw-bg-opacity));
}

:is(.dark .dark\:bg-gray-950) {
  --tw-bg-opacity: 1;
  background-color: rgb(3 7 18 / var(--tw-bg-opacity));
}

:is(.dark .dark\:bg-white) {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}

:is(.dark .dark\:bg-dark-client) {
  background-image: url("/images/home/clients/bg-client-d.svg");
}

:is(.dark .dark\:bg-dark-globe) {
  background-image: url("/images/home/Globe-update.svg");
}

:is(.dark .dark\:from-\[\#201a27\]\/\[\.5\]) {
  --tw-gradient-from: rgb(32 26 39 / 0.5) var(--tw-gradient-from-position);
  --tw-gradient-to: rgb(32 26 39 / 0) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}

:is(.dark .dark\:to-\[\#33222b\]\/\[\.5\]) {
  --tw-gradient-to: rgb(51 34 43 / 0.5) var(--tw-gradient-to-position);
}

:is(.dark .dark\:text-\[\#A3EE3C\]) {
  --tw-text-opacity: 1;
  color: rgb(163 238 60 / var(--tw-text-opacity));
}

:is(.dark .dark\:text-gray-100) {
  --tw-text-opacity: 1;
  color: rgb(243 244 246 / var(--tw-text-opacity));
}

:is(.dark .dark\:text-gray-200) {
  --tw-text-opacity: 1;
  color: rgb(229 231 235 / var(--tw-text-opacity));
}

:is(.dark .dark\:text-gray-300) {
  --tw-text-opacity: 1;
  color: rgb(209 213 219 / var(--tw-text-opacity));
}

:is(.dark .dark\:text-gray-400) {
  --tw-text-opacity: 1;
  color: rgb(156 163 175 / var(--tw-text-opacity));
}

:is(.dark .dark\:text-gray-50) {
  --tw-text-opacity: 1;
  color: rgb(249 250 251 / var(--tw-text-opacity));
}

:is(.dark .dark\:text-white) {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

:is(.dark .placeholder\:dark\:text-gray-600)::-moz-placeholder {
  --tw-text-opacity: 1;
  color: rgb(75 85 99 / var(--tw-text-opacity));
}

:is(.dark .placeholder\:dark\:text-gray-600)::placeholder {
  --tw-text-opacity: 1;
  color: rgb(75 85 99 / var(--tw-text-opacity));
}

:is(.dark .before\:dark\:bg-white)::before {
  content: var(--tw-content);
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}

:is(.dark .after\:dark\:bg-white)::after {
  content: var(--tw-content);
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}

:is(.dark .hover\:dark\:from-pink-500):hover {
  --tw-gradient-from: #ec4899 var(--tw-gradient-from-position);
  --tw-gradient-to: rgb(236 72 153 / 0) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}

:is(.dark .hover\:dark\:to-purple-950):hover {
  --tw-gradient-to: #3b0764 var(--tw-gradient-to-position);
}

:is(.dark .hover\:dark\:text-pink-700):hover {
  --tw-text-opacity: 1;
  color: rgb(190 24 93 / var(--tw-text-opacity));
}

:is(.dark .hover\:dark\:text-white):hover {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}
.bg-gradient-pink {
  background-image: linear-gradient(to right, #cb1a71, #a62d82, #70499b);
}
.hover-bg-gradient {
  background-image: linear-gradient(to right, #ff7e5f, #feb47b);
}

.dropdown:hover .dropdown-menu {
  display: block;
}

@media (min-width: 640px) {
  .sm\:mb-8 {
    margin-bottom: 2rem;
  }

  .sm\:ml-6 {
    margin-left: 1.5rem;
  }

  .sm\:ml-auto {
    margin-left: auto;
  }

  .sm\:mr-10 {
    margin-right: 2.5rem;
  }

  .sm\:mr-4 {
    margin-right: 1rem;
  }

  .sm\:mt-0 {
    margin-top: 0px;
  }

  .sm\:flex {
    display: flex;
  }

  .sm\:flex-row {
    flex-direction: row;
  }

  .sm\:flex-nowrap {
    flex-wrap: nowrap;
  }

  .sm\:justify-start {
    justify-content: flex-start;
  }

  .sm\:px-16 {
    padding-left: 4rem;
    padding-right: 4rem;
  }

  .sm\:px-6 {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .sm\:py-10 {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }

  .sm\:py-24 {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }

  .sm\:text-4xl {
    font-size: 2.25rem;
    line-height: 2.5rem;
  }

  .sm\:text-5xl {
    font-size: 2.8rem;
    line-height: 1;
  }

  .sm\:text-6xl {
    font-size: 3.75rem;
    line-height: 1;
  }

  .sm\:text-\[55px\] {
    font-size: 55px;
  }
  .sm\:text-lg-1 {
    font-size: 1rem;
  }
}

@media (min-width: 768px) {
  .md\:mb-0 {
    margin-bottom: 0px;
  }

  .md\:ml-auto {
    margin-left: auto;
  }

  .md\:mt-0 {
    margin-top: 0px;
  }

  .md\:block {
    display: block;
  }

  .md\:hidden {
    display: none;
  }

  .md\:w-1\/2 {
    width: 50%;
  }

  .md\:flex-row {
    flex-direction: row;
  }

  .md\:flex-nowrap {
    flex-wrap: nowrap;
  }

  .md\:items-start {
    align-items: flex-start;
  }

  .md\:justify-start {
    justify-content: flex-start;
  }

  .md\:py-8 {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .md\:pl-16 {
    padding-left: 4rem;
  }

  .md\:pr-16 {
    padding-right: 4rem;
  }

  .md\:text-left {
    text-align: left;
  }
  .md\:text-lg-1 {
    font-size: 1rem;
  }
}

@media (min-width: 1024px) {
  .lg\:mr-0 {
    margin-right: 0px;
  }

  .lg\:mt-0 {
    margin-top: 0px;
  }

  .lg\:mt-2 {
    margin-top: 0.5rem;
  }

  .lg\:inline-block {
    display: inline-block;
  }

  .lg\:w-1\/2 {
    width: 50%;
  }

  .lg\:w-1\/3 {
    width: 33.333333%;
  }

  .lg\:w-1\/5 {
    width: 20%;
  }

  .lg\:w-2\/3 {
    width: 66.666667%;
  }

  .lg\:w-2\/5 {
    width: 40%;
  }

  .lg\:w-full {
    width: 100%;
  }

  .lg\:max-w-lg {
    max-width: 32rem;
  }

  .lg\:flex-grow {
    flex-grow: 1;
  }

  .lg\:flex-wrap {
    flex-wrap: wrap;
  }

  .lg\:pl-24 {
    padding-left: 6rem;
  }

  .lg\:pr-24 {
    padding-right: 6rem;
  }
  .lg\:text-lg-1 {
    font-size: 1rem;
  }
}

@media (min-width: 1280px) {
  .xl\:mr-4 {
    margin-right: 1rem;
  }

  .xl\:mt-0 {
    margin-top: 0px;
  }

  .xl\:w-1\/3 {
    width: 33.333333%;
  }

  .xl\:flex-nowrap {
    flex-wrap: nowrap;
  }
}

/* @media {
  .widescreen\:section-min-height {
    min-height: calc(100vh-68px);
  }

  .tallscreen\:section-min-height {
    min-height: calc(100vh-68px);
  }
} */

.logos {
  overflow: hidden !important;
  padding-top: 15px;
  /* background: rgb(255, 255, 255); */
  white-space: nowrap;
  position: relative;
  cursor: pointer;
  display: flex;
}

.logos:before,
.logos:after {
  position: absolute;
  top: 0;
  width: 250px;
  height: 100%;
  content: "";
  z-index: 2;
}

/* .logos:before {
  left: 0;
  background: linear-gradient(
    to left,
    rgba(255, 255, 255, 0),
    rgb(255, 255, 255)
  );
}

.logos:after {
  right: 0;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0),
    rgb(255, 255, 255)
  );
} */

.logos:hover .logos-slide {
  animation-play-state: paused;
}
.logos:hover .logos-slide-1 {
  animation-play-state: paused;
}

.logos-slide {
  display: inline-block;
  animation: slide 45s infinite linear !important;

  display: flex;
  flex-wrap: nowrap;
}
/* Keyframes for the sliding effect */
@keyframes slide {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}

.logos-slide img {
  /* margin: 50px 70px; */
  height: 60px;
  margin: 0px 120px 70px 70px;
  /* border: 2px solid #a1aebf;
  border-radius: 8px; */
  object-fit: contain; /* Ensure the image scales to fit within its container */
  display: block;
}

.process-slide {
  /* animation: slide 30s infinite linear; */

  display: flex;
  flex-wrap: nowrap;
  border: #0a0a0a;
  animation: slide-1 30s infinite linear;
}

.logos-slide-1 {
  /* display: inline-block; */
  animation: slide-1 30s infinite linear;

  display: flex;
}

/* .logos-slide-1 img {
  height: 60px;
  margin: 0px 120px 70px 70px;
  border: 2px solid #a1aebf; 
  border-radius: 8px; 
  object-fit: contain; 
  display: block;
} */

/* @keyframes slide-1 {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0);
  }
} */

.topLogo-1 {
  /* position: absolute; */
  inset: 0px;
  box-sizing: border-box;
  padding: 0px;
  border: none;
  margin: auto;
  display: block;
  width: auto;
  height: auto;
  min-width: 100%;
  max-width: 100%;
  min-height: 70% !important;
  max-height: 100% !important;
  object-fit: contain;
  padding: 1.2em;
}

/* .topLogo-1 img {
  height: 60px;
  width: 100px !important;
} */

.bg-pink-modify {
  background-color: #fbecf2;
}

.bg-gradient {
  background: linear-gradient(
    268.87deg,
    rgba(1, 126, 132, 0.0988) 4.8%,
    rgba(166, 45, 130, 0.0988) 103.97%,
    rgba(156, 87, 137, 0.0304) 103.97%
  );
}

.bg-service {
  background-color: white;
  transition: background 0.5s ease;
}

.bg-service:hover {
  background: linear-gradient(
    257.72deg,
    rgba(1, 126, 132, 0.76) -0.55%,
    rgba(165, 48, 131, 0.76) 63.47%,
    rgba(156, 87, 137, 0.76) 105.57%
  );
}

.font-16 {
  font-size: 15.6px;
}

.bg-home-product {
  background: linear-gradient(
    106.71deg,
    #70499b 8.9%,
    #a62d82 62.07%,
    #cb1a71 102.17%
  );
}

.display-content {
  display: contents;
}
.hamburger-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 20px;
  height: 15px;
  cursor: pointer;
  align-items: center;
}

.hamburger-icon .bar {
  width: 100%;
  height: 3px;
  background-color: rgb(255, 255, 255); /* Or any color you prefer */
  border-radius: 2px;
}
/* styles/custom.css */

@media (min-width: 1280px) and (max-width: 1300px) {
  .custom-header-padding {
    padding-left: 1.25rem; /* Tailwind's px-5 */
    padding-right: 1.25rem; /* Tailwind's px-5 */
  }
}

.contact-section {
  display: flex;
  align-items: center;
  gap: 1rem; /* Space between the button and icon */
}

.edit-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.whatsapp-button {
  position: fixed;
  bottom: 90px;
  right: 10px;
  background-color: #25d366;
  color: white;
  width: 60px;
  /* Set width and height to be equal for a perfect circle */
  height: 60px;
  border-radius: 50%;
  /* This ensures the button is circular */
  display: flex;
  /* Flexbox to center the icon */
  align-items: center;
  /* Vertically center the icon */
  justify-content: center;
  /* Horizontally center the icon */
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  z-index: 1000;
}

.whatsapp-icon {
  font-size: 30px;
  /* Adjust the icon size */
  color: white;
}

.whatsapp-button:hover {
  background-color: #128c7e;
  text-decoration: none;
}
